<div class="col-lg-7 mx-auto">
  <div id="carImageSlide" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div
      class="carousel-inner d-flex"
      style="height: 50vh; min-height: 20rem; max-height: 30rem"
    >
      <div
        *ngFor="let image of carImages; index as i; first as firstImage"
        class="carousel-item align-self-center"
        [ngClass]="{ active: firstImage }"
        style="height: 100%; width: 100%"
      >
        <img
          [src]="imageUrl + image.imagePath"
          class=""
          style="height: 100%; width: 100%;"
          [alt]="image.imagePath"
        />
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div *ngIf="isAdmin" class="row justify-content-center">
      <p-button icon="pi pi-fw pi-cog" (click)="update(car)" styleClass="p-button-info p-button-sm" style="width: 3rem; margin-top: 3px;"></p-button>
    </div>

    <table *ngIf="car" class="table table-striped mt-2">
      <tbody>
        <tr>
          <th scope="row">Marka</th>
          <td>{{ car.brandName }}</td>
        </tr>
        <tr>
          <th scope="row">Model</th>
          <td>{{ car.carName }}</td>
        </tr>
        <tr>
          <th scope="row">Renk</th>
          <td>{{ car.colorName }}</td>
        </tr>
        <tr>
          <th scope="row">Fiyat</th>
          <td>
            {{
              car.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"
            }}/Gunluk
          </td>
        </tr>
        <tr>
          <th scope="row">Model Yılı</th>
          <td>{{car.modelYear}}</td>
        </tr>
        <tr>
          <th scope="row">Aciklama</th>
          <td>{{ car.description }}</td>
        </tr>
      </tbody>
    </table>
    <div class="card-body d-grid gap-2 mx-auto">
      <button [disabled]="!isLogged" type="button" (click)="rent()" pButton icon="pi pi-shopping-cart" class="p-button-info" label="Kirala"></button>
   </div>
  </div>
</div>