<button style="width: 100%;" *ngIf="!rentable" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-dark text-center">Kirala</button>
<div style="margin-top: 10px;" *ngIf="rentable" class="alert alert-danger">
  Bu araç zaten kiralanmış
</div>
<div *ngIf="car" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{car.carName}} | {{car.brandName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="daily-price">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="daily-price" class="form-label">Günlük Ücret:</label>
            </div>
            <div class="col-md-9">
              <input [value]="car.dailyPrice | currency" disabled="disabled" type="text" class="form-control" id="daily-price" >
            </div>
          </div>
        </div>
        <div class="rent-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="rent-date" class="form-label">Başlangıç:</label>
            </div>
            <div class="col-md-9">
              <input  min="{{minDate}}" (change)="controlEndDate()" [(ngModel)]="startDate" type="date" class="form-control" id="rent-start-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
        <div class="return-date">
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="return-date" class="form-label">Bitiş:</label>
            </div>
            <div class="col-md-9">
              <input [disabled]='!startDate' min="{{startDate}}" max="{{maxDate}}" [(ngModel)]="endDate" (change)="setRentable()" type="date" class="form-control" id="rent-end-date" placeholder="Bir gün seçiniz.">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button [disabled]="!(startDate && endDate)" (click)="addRental()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Kirala</button>
      </div>
    </div>
  </div>
</div>