<div class="content d-flex justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="p-fluid p-formgrid p-grid">
                <form [formGroup]="brandAddForm">
                    <div class="mb-3">
                        <input id="name" formControlName="name" type="text" pInputText placeholder="Marka adı">
                    </div>
                </form>
            </div>
            <div class="card">
                <button pButton pRipple type="button" icon="pi pi-plus" (click)="addBrand()" label="Ekle" class="p-button-rounded p-button-info"></button>
            </div>
        </div>
    </div>
</div>