<div class="content d-flex justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="p-fluid p-formgrid p-grid">
                <form [formGroup]="passwordUpdateForm">
                    <div class="p-field p-md-2 p-grid" style="margin-top: 10px;">
                        <span class="p-float-label p-col-fixed">
                            <input formControlName="oldPassword" type="password" style="width:95%" id="input-old-password" pInputText>
                            <label for="input-old-password">Eski parola</label>
                        </span>
                    </div>
                    <div class="p-field p-md-2 p-grid" style="margin-top: 5px;">
                        <span class="p-float-label p-col-fixed">
                            <input formControlName="newPassword" type="password" style="width:95%" id="input-new-password" pInputText>
                            <label for="input-new-password">Yeni parola</label>
                        </span>
                    </div>
                </form>
            </div>
            <div class="card">
                <button pButton pRipple type="button" icon="pi pi-refresh" (click)="update()" label="Güncelle" class="p-button-rounded p-button-info"></button>
            </div>
        </div>
    </div>
</div>